html, body {
	height: 100%;
}

body {
    background-color: gray; 
}

#main_div {
    height: auto !important;
    min-height: 100%;
}

.maps
{
    border: 1px solid black;
    width: 600px; height: 400px;
    margin:15px auto;
    margin-bottom: 40px;
    color: black;
}