html, body {
	height: 100%;
}

body {
    background-color: gray; 
}

#main_div {
    height: auto !important;
    min-height: 100%;
}

#planningcontenu {
	overflow-x: scroll;
}

.maps
{
    border: 1px solid black;
    height: 400px;
    margin:15px auto;
    margin-bottom: 40px;
    color: black;
}

@media (min-width:576px){
	.maps{
		width: 500px;
	}
}

@media (min-width:768px){
	.maps{
		width: 600px;
	}
}
