#container {
    background: url("/public/image/fond-acceuil.jpg"); /* override le fond d'écran */
}

#body {
    top:398px;
    left:141px; 
    width:425px; 
    height: 380px;
    font-size: 145%;
    text-align: center;
}

h3 {
    text-decoration: underline;
}

.actualite {
    margin-bottom: 5px;
}