#container {
    background: url("/Impulsion/public/image/fond-acceuil.jpg"); /* override le fond d'écran */
}

#body {
    top:398px;
    left:141px; 
    width:425px; 
    height: 390px;
    font-size: 145%;
    text-align: center;
}

h3 {
    text-decoration: underline;
    color: 	#2989d8;
}

.actualite {
    margin-bottom: 10px;
    line-height: 1.4;
    font-size: 90%;
}