/**** Index */

div#body
{
    padding: 30px 0;	
}

#livrecontainer
{
    margin-left: 15%;
    width: 68%;
    position: relative;
}

.bandes 
{
    background-image: url("/public/image/bandes.png");
    width: 14px;
    height:100%;
}

#middle
{
    background: #FFA500;
    padding: 20px 0;
}

.messagebox
{
    color: black;
    margin: 30px 9%;
    border: solid 1px #136295;
    background-color: #ffffff;
    overflow: hidden;
    -webkit-box-shadow: 0 2px 1px #136295;
    box-shadow: 0 1px 10px #136295;
}

.authordate
{
    font-style: italic;
    font-size: 80%;
    background-color: #FFEB68;
}

.important {
    font-weight:bold;
    font-style: normal;
}

.message
{
    margin: 5px;
    text-align: left;
}

#left
{
    position: absolute;
    left: -14px;
}

#right
{
    position: absolute;
    right: -14px;
}


/**** Formulaire */

#formulaire
{
    text-align: left;
    margin-left: 10%;
}

#auteur
{
    margin-left: 32px;
}

#submit
{
    margin-left: 250px
}

#messagearea
{
    display: block;
}

#messagetext
{
    vertical-align: top;
}


/* Boxe */
.boxe {
    color: black;
    background: white;
    width: 15%;
    right: 2%;
    position:fixed;
    -webkit-box-shadow: 0 2px 1px #136295;
    box-shadow: 0 1px 10px #136295;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

#ajouter {
    top: 300px;	
}

#ajouter p {
    padding-left: 10px;
}

/* suppression */
.suppr {
    float: right;	
    padding-right: 10px;
}