/* Principal */
#menu_section {
    background-image: url("/public/image/fond-menu.png");
    position:absolute; 
    left:11px; 
    top:11px; 
    width:1258px; 
    height:221px;
}

#menu {
    position:absolute; 
    left:0; 
    top:178px; 
    width:1238px; 
    height:42px;
    z-index: 2;
}

#menu #loginfields {
    float: right;
    padding-top: 7px;
}

#menu a:link, #menu a:visited, #menu a:active, #menu a:hover {
    color: 	#2989d8;
    font-weight: bold;
    text-decoration:none;
    border: none;
}

#menu #loginfields a:link, #menu #loginfields a:visited, #menu #loginfields a:active {
    color: 	#2989d8;
    font-weight: bold;
    text-decoration:none;
    border: none;
}

#menu #loginfields a:hover {
    color: 	#2989d8;
    font-weight: bold;
    text-decoration:underline;
    border: none;
}

/* Sous menu */
#sousMenuCours {
    z-index: 100;
    margin: 0;
    padding: 0;
    position:absolute; 
    top:220px; 
    width: 430px;
}

#sousMenuCours img {
    margin: 0;
    padding: 0;
    border: none;
}

#sousMenuCours a:link, #sousMenuCours a:visited, #sousMenuCours a:active, #sousMenuCours a:hover {
    color: 	#2989d8;
    font-weight: bold;
    text-decoration:none;
    border: none;
}

#sousMenuCours > img {
    margin: 0 -2px;
}

#sousMenuCours a {
    margin: 0 -2px;
}