#entete {
	font-size: 120%;
	padding-top: 16px;
	margin-bottom:34px;
}

.maps
{
    border: 1px solid black;
    width: 600px; height: 400px;
    margin:15px auto;
    margin-bottom: 40px;
    color: black;
}

#plan {
	padding-bottom: 1px;
}