body, html
{
    height: 100%;
}

body
{
    margin: 0px;
    padding: 0 30px;
    font-size: 100%;
    line-height: 1.6;
    font-family: arial,helvetica,"bitstream vera sans",sans-serif;
    color: #000000;
    background-color: #ffffff; 
    background: url("/Impulsion/public/image/acceuil.jpg");
    background-attachment:fixed;
}

#center 
{
    text-align: center;
}

.error
{
    font-size:80%;
    font-style:italic;
    color:red;	
}

#loading
{
    display:none;
    padding:9px 5px 5px 5px;

    position:fixed;
    top:300px;
    left:50%;
    margin-left:-170px;

    background-color:#ffffff;
    border: solid 1px #136295;
    -webkit-box-shadow: 0 2px 1px #136295;
    box-shadow: 0 1px 10px #136295;
    border-radius: 10px;
}

#loading > img {
    border: none;
}

#loadingtext
{
    vertical-align: top;	
    margin-left: 10px;
    padding-right: 10px;
}

/* Zend form */
dt {
    float: left;
}

.zendForm {
    margin-left: 20%;
    max-width: 300px;
}